jee-test-web/target/
jee-test-ejb/target/
jee-test-services/target/
jee-test-webservices-impl/target/
jee-test-ejb/.project
jee-test-ejb/.classpath
jee-test-ejb/.settings/
jee-test-ejb/.settings/org.eclipse.m2e.core.prefs
jee-test-ejb/.settings/org.eclipse.core.resources.prefs
jee-test-ejb/.settings/org.eclipse.jdt.core.prefs
jee-test-ejb/.settings/org.eclipse.wst.common.component
jee-test-ejb/.settings/org.eclipse.wst.common.project.facet.core.xml
jee-test-ejb/.settings/org.eclipse.wst.validation.prefs
jee-test-services-impl/.settings/
jee-test-services-impl/.classpath
jee-test-services-impl/.settings/org.eclipse.core.resources.prefs
jee-test-services-impl/.settings/org.eclipse.jdt.core.prefs
jee-test-services-impl/.settings/org.eclipse.m2e.core.prefs
jee-test-services-impl/.settings/org.eclipse.wst.common.component
jee-test-services-impl/.settings/org.eclipse.wst.common.project.facet.core.xml
jee-test-services-impl/.settings/org.eclipse.wst.validation.prefs
jee-test-services/.settings/
jee-test-services/.classpath
jee-test-services/.settings/org.eclipse.core.resources.prefs
jee-test-services/.settings/org.eclipse.jdt.core.prefs
jee-test-services/.settings/org.eclipse.m2e.core.prefs
jee-test-services/.settings/org.eclipse.wst.common.component
jee-test-services/.settings/org.eclipse.wst.common.project.facet.core.xml
jee-test-services/.settings/org.eclipse.wst.validation.prefs
jee-test-web/.settings/org.eclipse.wst.common.project.facet.core.xml
jee-test-web/target/jaxws/stale/.546294622e6c2cd08ee77bdd5f37df70d105dc42
jee.test-ear/.settings/
jee.test-ear/.classpath
jee.test-ear/.settings/org.eclipse.core.resources.prefs
jee.test-ear/.settings/org.eclipse.jdt.core.prefs
jee.test-ear/.settings/org.eclipse.m2e.core.prefs
*.component
jee-test-web/.settings/
jee-test-web/target/
jee.test-ear/.settings/org.eclipse.wst.common.project.facet.core.xml
jee.test-ear/.settings/org.eclipse.wst.validation.prefs
jee-test-web/.settings/org.eclipse.wst.common.project.facet.core.xml
jee-test-web/.settings/org.eclipse.jdt.core.prefs
jee-test-web/.settings/org.eclipse.jdt.core.prefs
jee-test-web/.settings/org.eclipse.wst.common.project.facet.core.xml
jee-test-web/.classpath
jee-test-web/.project
jee-test-web/.settings/.jsdtscope
jee-test-web/.settings/org.eclipse.core.resources.prefs
jee-test-web/.settings/org.eclipse.ltk.core.refactoring.prefs
jee-test-web/.settings/org.eclipse.m2e.core.prefs
*.container
*.name
*.prefs
jee-test-web/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
younes.module/.classpath
younes.module/.project
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.vscode/tasks.json
jee-test-common/.classpath
jee-test-common/.classpath
/build/
.classpath
.project
.settings/org.eclipse.wst.common.project.facet.core.xml
jee-test-common/.classpath
jee-test-dep-module/.classpath
jee-test-dep-module/.project
jee-test-ear-dev/.classpath
jee-test-ear-dev/.settings/org.eclipse.wst.common.project.facet.core.xml
src/META-INF/MANIFEST.MF
